.moviesDetail {
    background-color: #FFFFFF;
    color: #333333;
    border-radius: 20px;
    margin-bottom: 254px;
    .detailWrapper {
        display: flex;
        justify-content: left;
        position: relative;
        padding: 0 90px;
        padding-top: 40px;
        padding-bottom: 177px;
        .image {
            margin-right: 23px;
            img {
            height: 339px;
            width: 229px;
            border-radius: 20px;
            }
        }
        .data {
            text-transform: uppercase;
            .name {
            font-size: 28px;
            font-weight: 700;
            color: #E59C9C;
            margin-bottom: 64px;
            }
            .dataWrapper {
                display: flex;
                .leftPart {
                    width: 116px;
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 50px;
                    p {
                        margin-bottom: 22px;
                    }
                }
                .rightPart {
                    font-size: 14px;
                    font-weight: 600;
                    p {
                        margin-bottom: 25px;
                    }
                    .summary {
                        text-transform: none;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            
        }
        .rating {
            position: absolute;
            right: 0;
            margin-right: 90px;
            font-size: 27px;
            font-weight: 800;
            display: flex;
            img {
                height: 43px;
                width: 43px;
                margin-right: 11px;
            }
        }
    }    
}